*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header{
    position: relative;
    width: 100%;
      background-color: #9FE2BF;
    
}
.navigation-center{
   max-width: 1200px;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  
}
.logo{
    font-size: 2.5em;
    color: #fff;
    font-weight: 600;
    padding: 15px;
    text-transform: uppercase;
}
.navigation-center ul{
    display: flex;

}
.nav-item{
    margin: 10px;
    padding: 10px 15px;
    
    font-size: 1.5em;
  
}
.nav-item a{
    display: block;
   
    font-weight: bold;
    color: #5DADE2;
}
.nav-item.active,
.nav-item:hover{
    background-color: rgba(255, 255,255,0.2);
}
.menu{
    font-size: 2em;
    color: #fff;
    position: absolute;
    content: '';
    top: 30%;
    right: 10%;
    display: none;
}
#check{
    
    width: 30px;
    height: 30px;
    display: none;

}

.container{
    /* background-color: #5DADE2; */
    background-image: url('https://images.unsplash.com/photo-1647215163432-d7c6fe036150?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    min-height: 1000px;
    background-repeat: no-repeat;
    background-size: contain;
}
@media (max-width:952px){
    .logo{
        text-transform: uppercase;
        font-size: 2em;
        color: red;
        font-weight: 600;
        padding-left: 50px;
    }
}
@media (max-width:858px){
    .menu{
        display: block;
    }
    .container{
        background-image: none;
        background-color: #333;
    }
    .navigation-center ul{
        position: fixed;
        width: 100%;
        display: flex;
        flex-direction: column;
        transition: 0.5s all linear;
        top: 100px;
        left: -100%;
        text-align: center;
        /* background-color: #333; */
    }
    .nav-item{
        
        display: block;
    }
    .nav-item.active,
    .nav-item:hover{
        color: red;
      background-color: transparent;
}
    #check:checked ~ ul{
        left: 0;
    }
}